/* Please set text at the center 
in vertical and horizontal */
* {
    margin: 0;
    padding: 0;
}

div {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.box1 {
    left: 50px;
    top: 100px;
    width: 100px;
    height: 100px;
    background: red;
    line-height: 200px;
}

.box2 {
    position: fixed;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 100px;
    background: blue;
    line-height: 100px;
}

.parent {
    position: relative;
    width: 300px;
    height: 300px;
    background: green;
}

.child {
    position: absolute;
    left: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    background: yellowgreen;
}