* {
    margin: 0;
    padding: 0;
}

.pink {
    color: #AD4036;
}

body {
    margin-left: 4em;
    margin-right: 4em;
}

section {
    color: #FFF157;
    background: #000;
    border: 3px solid grey;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.5em;
}

footer {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1em;
}