* {
    margin: 0;
    padding: 0;
}

.pink {
    color: #AD4036;
}

body {
    margin: auto;
    width: 40vw;
}

/* header,
footer {
    width: fit-content;
    margin: auto;
} */


section {

    max-width: 500px;
    color: #FFF157;
    background: #000;
    border: 3px solid grey;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.5em;
}

footer {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1em;
}