* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

ul {
    display: flex;
    list-style: none;
    gap: 0.5em;
}

.hamburger {
    display: none;
}

.drawer-menu {
    display: none;
    position: fixed;
    right: 0;
    background: black;

    .first-link {
        color: white;
        text-decoration: none;
    }

    .menu-item {
        padding: 0.3em 1em;
        border: 2px solid white;
        border-radius: 4px;
        margin: 0.5em;
        color: white;
    }

    .exit {
        background: lightcoral;
    }

    .exit:hover {
        box-shadow: 2px 2px 2px white;
    }
}


.gradient {
    min-height: 80vh;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgb(255, 255, 255, 0)), url('https://images.unsplash.com/photo-1761839257513-a921710a4291?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-size: cover;
    background-position: center;
}

/* Mobile CSS here */
@media (max-width: 600px) {
    ul {
        display: none;
    }

    .hamburger {
        display: block;
    }


    .line {
        width: 2em;
        height: 4px;
        background: black;
        margin-bottom: 4px;
    }

}