* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
    margin-bottom: 1em;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid red; */
    /* flex-direction: column; */
}

h1 {
    margin: 0.5em;
}

li {
    height: fit-content;
    border: 2px solid black;
    padding: 0.5em;
}

li:first-child {
    /* flex-grow: 1;
    flex-shrink: 1; */
    margin-right: auto;
    /* font-size: 3rem; */
    /* align-self: stretch; */
}


li:last-child {
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 4px solid green; */
    height: 85vh;
}

p {
    border: 2px solid black;
    padding: 1em;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px; */
    /* flex: 1 0 100px; */
}

.row1 {
    display: flex;
    gap: 1em;
    flex-grow: 1;
}

.row2 {
    display: flex;
    gap: 1em;
    flex-grow: 1;
}

footer {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}