.container {
    width: 400px;
    height: 400px;
    background: green;
    margin: 4em;
    position: relative;
}

.left {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}