* {
    margin: 0;
    padding: 0;
}

.pink {
    color: #AD4036;
}

body {
    margin: auto;
    width: 50vw;
    font-family: "Roboto", sans-serif;
}

header {
    margin-top: 2em;
}

header>h1 {
    border-bottom: 2px solid #000;
}

/* header,
footer {
    width: fit-content;
    margin: auto;
} */


section {
    max-width: 500px;
    color: #FFF157;
    background: #000;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.5em;
}

/* pseudo element */
section:hover {
    border: 3px solid grey;
    padding: 0.8em;
    background: white;
    color: #000;
}

footer {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1em;
}